digit-interface
torch
torchvision
numpy
matplotlib
wandb
transformers[torch]
safetensors
datasets
ipywidgets
huggingface_hub
scikit-learn
xformers
hydra-core
hydra-colorlog
wandb
einops
tqdm
scipy
scikit-learn
opencv-python
h5py
rich
# lightning
lightning==2.0.9
ipykernel
